@charset "UTF-8";
.main-navigation li a, .mail li a, .hero, .order-service, .benefits-head, .benefits-descr, .head-2-descr, .work-head, .name, .job, .adress-footer, .mail-footer, .number-footer, .join, .developed, .sub-header, .submit-footer, ::-webkit-input-placeholder, .modal-slogan, .form-label, .form-label2, .form-label3, .contract, .confirm, .submit-modal, .button-element-button, .second-header, .filtrs, .desc-for-header, .slide::after {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logotype {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.accent-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #2196f3;
}

.regular-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #212121;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.main-navigation li a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav1 {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.main-navigation .nav1 + .nav1 {
  margin-left: 50px;
}

.nav1-url:hover, .nav1-url:focus {
  color: #2196f3;
}

.link-current {
  color: #2196f3;
}

.link-current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.link-current:hover, .link-current:focus {
  color: #2196f3;
}

.main-navigation .link-current {
  color: #2196f3;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 305px;
}

.mail .mail1 + .mail1 {
  margin-left: 30px;
}

.icon-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-flex:hover, .icon-flex:focus {
  fill: #2196f3;
  color: #2196f3;
}

.mail li a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail1-icon, .mail1-icon2 {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.mail1-icon {
  width: 16px;
  height: 11px;
}

.mail1-icon2 {
  width: 10px;
  height: 15px;
}

.hero {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 646px;
}

.hero-order {
  padding-top: 200px;
  margin: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../jpg/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../jpg/hero.jpg);
}

.order-service {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  margin-top: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  cursor: pointer;
}

.benefits-head {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 1200px;
  border-bottom: 1px solid #ececec;
}

.benefits .benefits-element {
  height: 251px;
  width: 270px;
}

.benefits .benefits-element + .benefits-element {
  margin-left: 30px;
}

.benefits-descr {
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.picture-background {
  display: inline-block;
  text-decoration: none;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f5f4fa;
}

.antenna, .clock, .monitor, .cosmonaut {
  width: 70px;
  height: 70px;
}

.directions {
  padding-top: 94px;
  padding-bottom: 94px;
}

.head-2-descr {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-head {
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 370px;
  margin: 0px;
  vertical-align: middle;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.work-element {
  position: relative;
}

.work .work-element + .work-element {
  margin-left: 30px;
}

.image-work {
  display: block;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .team-element {
  height: 417px;
  width: 270px;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  margin-top: 0px;
  margin-bottom: 0px;
}

.team .team-element + .team-element {
  margin-left: 30px;
}

.name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0px;
}

.job {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  margin: 0px;
}

.h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.name-job {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 273px;
  height: 105px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 32px;
  margin-right: 31px;
}

.icons .icons-element + .icons-element {
  margin-left: 10px;
}

.icons-element-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-svg:hover, .icon-svg:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.comapanies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comapanies .comapanies-example + .comapanies-example {
  margin-left: 30px;
}

.companies-hover {
  display: inline-block;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: border, border-radius;
  transition-property: border, border-radius;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.companies-hover:hover, .companies-hover:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon-companies, .icon-companies2 {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.icon-companies {
  width: 50px;
  height: 50px;
}

.icon-companies:hover, .icon-companies:focus {
  fill: #2196f3;
}

.icon-companies2 {
  width: 70px;
  height: 50px;
}

.icon-companies2:hover, .icon-companies2:focus {
  fill: #2196f3;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 47px;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.flex-footer .footer-element + .footer-element {
  margin-left: 60px;
}

.social-icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-icon-footer .social-element {
  height: 20px;
  width: 20px;
}

.social-icon-footer .social-element + .social-element {
  margin-left: 30px;
}

.social-element-url {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-element-url:hover, .social-element-url:focus {
  background-color: #2196f3;
}

.logotype2 {
  display: block;
  padding-bottom: 20px;
}

.regular-text2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #ffffff;
}

.footer-class {
  background-color: #2f303a;
}

.adress-footer, .mail-footer, .number-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress-footer {
  color: #ffffff;
}

.mail-footer {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.number-footer {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.icon-footer2 {
  width: 20px;
  height: 20px;
}

.join {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.developed {
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  display: block;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.footer-element2 {
  margin-left: 100px;
}

.footer-svg-send {
  position: relative;
  width: 18px;
  height: 18px;
  bottom: 0;
  -webkit-transform: translate(50%, 20%);
          transform: translate(50%, 20%);
  fill: #ffffff;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit-footer {
  position: absolute;
  background-color: #2196f3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
  border: none;
}

.input-footer {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal-slogan {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  padding: 40px;
}

.form-field {
  position: relative;
  margin-bottom: 30px;
}

.form-label, .form-label2 {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-label2 {
  top: 12px;
  left: 16px;
}

.form-label3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-input:focus {
  border-radius: 3px;
  border: 1px solid #2196f3;
  outline: none;
}

.comment2:focus + .form-label2,
.comment2:not(:placeholder-shown) + .form-label2 {
  color: #2196f3;
  -webkit-transform: translate(-15px, -30px);
          transform: translate(-15px, -30px);
}

.comment2:focus,
.comment2:not(:placeholder-shown) {
  border-color: #2196f3;
  outline: none;
}

.comment2 {
  width: 100%;
  resize: none;
  padding: 12px 0 0 16px;
  white-space: nowrap;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  -webkit-transform: translate(-23px, -40px);
          transform: translate(-23px, -40px);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
}

.form-input:focus ~ .icon-modal {
  fill: #2196f3;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .icon-checkbox {
  background-color: #2196f3;
  background-image: url(../svg/icon-check.svg);
  background-size: cover;
  border-radius: 2px;
  border-color: #2196f3;
}

.icon-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8px;
  border: 2px solid #212121;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contract, .confirm {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: block;
  margin-left: 5px;
  text-align: right;
}

.contract {
  text-decoration: underline;
  color: #2196f3;
}

.confirm {
  color: #757575;
}

.submit-modal {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
}

.modal-button {
  margin-top: 31px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.icon-close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.icon-close {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  border-top: 1px solid #ececec;
}

.button-flex .button-element + .button-element {
  margin-left: 7px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.examples {
  display: block;
}

.button-element-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-element-button:hover, .button-element-button:focus {
  background-color: #2196f3;
  color: #ffff;
  cursor: pointer;
}

.second-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 4px;
  padding: 0px;
  margin-left: 24px;
}

.filtrs {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 24px;
}

.desc-for-header {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 94px;
}

.projects-element {
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding-bottom: 20px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  width: 370px;
  height: 404px;
}

.projects-element:nth-child(3n + 1) {
  margin-left: 0px;
}

.projects-element:nth-child(-n + 3) {
  margin-top: 0px;
}

.projects-element:hover, .projects-element:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.slide {
  position: relative;
  overflow: hidden;
}

.slide::after {
  content: "Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.slide:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */