.hero {
  color: $color-white;
  font-family: $font-main;
  font-style: $font-style;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 646px;
}

.hero-order {
  padding-top: 200px;
  margin: auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../jpg/hero.jpg);
}

.order-service {
  color: $color-white;
  background-color: $background-color-blue;
  font-family: $font-main;
  font-style: $font-style;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;

  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  margin-top: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  cursor: pointer;
}

.benefits-head {
  color: $color-black;
  font-family: $font-main;
  font-style: $font-style;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 1200px;
  border-bottom: 1px solid #ececec;

  & .benefits-element {
    height: 251px;
    width: 270px;
  }
}

.benefits-element {
  .benefits & + & {
    margin-left: 30px;
  }
}

.benefits-descr {
  color: $color-grey;
  $font-main: Roboto;
  $font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.picture-background {
  display: inline-block;
  text-decoration: none;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: $background-color-grey;
}

%icon-benefits-common {
  width: 70px;
  height: 70px;
}

.antenna {
  @extend %icon-benefits-common;
}

.clock {
  @extend %icon-benefits-common;
}

.monitor {
  @extend %icon-benefits-common;
}

.cosmonaut {
  @extend %icon-benefits-common;
}

.directions {
  padding-top: 94px;
  padding-bottom: 94px;
}

.head-2-descr {
  color: $color-black;
  font-family: $font-main;
  font-style: $font-style;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work {
  display: flex;
  justify-content: space-between;
}

.work-head {
  color: $color-white;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: $font-main;
  font-style: $font-style;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 370px;
  margin: 0px;
  vertical-align: middle;
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  left: 0;
  bottom: 0;
}

.work-element {
  position: relative;

  .work & + & {
    margin-left: 30px;
  }
}

.image-work {
  display: block;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $background-color-grey;
}

.team {
  display: flex;
  justify-content: space-between;

  & .team-element {
    height: 417px;
    width: 270px;
    background-color: #ffffff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.team-element {
  .team & + & {
    margin-left: 30px;
  }
}

.name {
  color: $color-black;
  font-family: $font-main;
  font-style: $font-style;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0px;
}

.job {
  color: $color-grey;
  font-family: $font-main;
  font-style: $font-style;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  margin: 0px;
}

.h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.name-job {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 273px;
  height: 105px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 32px;
  margin-right: 31px;
}

.icons-element {
  .icons & + & {
    margin-left: 10px;
  }
}

.icons-element-url {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    fill: #ffffff;
  }
}

.comapanies {
  display: flex;
  flex-wrap: wrap;
}

.comapanies-example {
  .comapanies & + & {
    margin-left: 30px;
  }
}

.companies-hover {
  display: inline-block;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border, border-radius;
  transition-duration: $duration;
  transition-timing-function: $cubic;
  fill: #afb1b8;

  &:hover,
  &:focus {
    border: 1px solid $color-hover;
    border-radius: 4px;
    fill: $color-hover;
  }
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

%icon-companies-common {
  transition-property: fill;
  transition-duration: $duration;
  transition-timing-function: $cubic;
  fill: #afb1b8;
}

.icon-companies {
  width: 50px;
  height: 50px;
  @extend %icon-companies-common;

  &:hover,
  &:focus {
    fill: $color-hover;
  }
}

.icon-companies2 {
  width: 70px;
  height: 50px;
  @extend %icon-companies-common;
  &:hover,
  &:focus {
    fill: $color-hover;
  }
}
